#rectangle {
  margin-top: 2em;
  height: 25em;
  width: 20em;
  background: lightblue;
  font-family: Courier;
  border-radius: 1em;
}

#calcTitle {
  font-weight: bold;
}

#display {
  height: 20%;
  width: 98%;
  background: #b3b3b3;
  border-radius: 1em;
  font-family: Courier;
}

#lastPush {
  font-size: 3em;
  margin-right: 0.1em;
}

#dataEntry {
  font-size: 1em;
  margin-right: 1em;
}

p {
  margin-top: .1em;
  margin-bottom: .1em;
}

button {
  margin-top: 1em;
  font-size: 1em;
  border-radius: .25em;
  background-color: #b3b3b3;
  box-shadow: .2em .2em .1em black;
}

button:active {
  background-color: #3b3938;
  color: white;
  box-shadow: 0em 0em 0em black;
}
